*.swp

advent_of_code_2024

/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/


inputs/day01.txt
inputs/day02.txt
inputs/day03.txt
inputs/day04.txt
inputs/day05.txt
inputs/day06.txt
inputs/day07.txt
inputs/day08.txt
inputs/day09.txt
inputs/day10.txt
inputs/day11.txt
inputs/day12.txt
inputs/day13.txt
inputs/day14.txt
inputs/day15.txt
inputs/day16.txt
inputs/day17.txt
inputs/day18.txt
inputs/day19.txt
inputs/day20.txt
inputs/day21.txt
inputs/day22.txt
inputs/day23.txt
inputs/day24.txt
inputs/day25.txt
